    <!-- header.component.html -->

    <ng-container *ngIf="showHeader">
        <header class="bg-primary text-white text-center py-5">
        <h1 class="display-4">Student Information System</h1>
        <p class="lead">Empowering Education Through Information</p>
        </header>
    
        <!-- Navigation Bar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" routerLink="/">SIS</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item" style="margin-bottom: 10px;">
                <a class="nav-link text-white" routerLink="/home" style="font-size: 18px;">Home</a>
                </li>
                <li class="nav-item" style="margin-bottom: 10px;">
                <a class="nav-link text-white" routerLink="/course" style="font-size: 18px;">Courses</a>
                </li> 

                <li class="nav-item" *ngIf="userType === 'admin'" style="margin-bottom: 10px;">
                    <a class="nav-link text-white"  style="font-size: 18px;">Teacher</a>
                </li>  

                <li class="nav-item"  *ngIf="userType === 'admin' || userType === 'teacher'" style="margin-bottom: 10px;">
                <a class="nav-link text-white" routerLink="/student-details" style="font-size: 18px;">Students</a>
                </li>

                <li class="nav-item"  *ngIf="userType === 'admin' || userType === 'teacher'" style="margin-bottom: 10px;">
                <a class="nav-link text-white" routerLink="/guardian" style="font-size: 18px;">Guardian</a>
                </li> 

              

                <li class="nav-item" *ngIf="userType !== 'admin'" style="margin-bottom: 10px;">
                <a class="nav-link text-white" [routerLink]="getProfileLink()" style="font-size: 18px;">Profile</a>
                </li>
    
                <li class="nav-item" style="margin-bottom: 10px;">
                <a class="nav-link text-white" (click)="logout()" style="font-size: 18px; cursor: pointer;">Logout</a>
                </li>
            </ul>
            </div>
        </div>
        </nav>
    </ng-container>
    