<!-- src/app/components/guardian/guardian.component.html -->
<div class="container mt-3">
    <h2>Guardian List</h2>
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>
            <button class="btn btn-link" (click)="sort('name', 'asc')">Name ▲</button>
            <button class="btn btn-link" (click)="sort('name', 'desc')">Name ▼</button>
          </th>
          <th>
            <button class="btn btn-link" (click)="sort('email', 'asc')">Email ▲</button>
            <button class="btn btn-link" (click)="sort('email', 'desc')">Email ▼</button>
          </th>
          <th>
            <button class="btn btn-link" (click)="sort('phoneNo', 'asc')">Phone Number ▲</button>
            <button class="btn btn-link" (click)="sort('phoneNo', 'desc')">Phone Number ▼</button>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let guardian of guardians; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ guardian.name }}</td>
          <td>{{ guardian.email }}</td>
          <td>{{ guardian.phoneNo }}</td>
        </tr>
      </tbody>
    </table>
  
    <ul class="pagination d-flex justify-content-center">
        <li class="page-item" *ngFor="let page of getPages()">
          <a
            class="page-link"
            (click)="onPageChange(page)"
            [class.active]="page === currentPage"
            [attr.disabled]="page === currentPage ? true : null"
          >
            {{ page + 1 }}
          </a>
        </li>
      </ul>
    
</div>
