<!-- course.component.html -->
<div class="d-flex justify-content-center">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th>Serial No</th>
          <th>Name</th>
          <th>Fees</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let course of courses">
          <td>{{ course.serialNumber }}</td>
          <td>{{ course.name }}</td>
          <td>{{ course.fees }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  